@inherits LifeEventsListBase
<ul class="list-group">
	@foreach (var lifeEvent in LifeEventsToDisplay.OrderByDescending(p => p.DateCreated!.Value))
	{
		<li class="list-group-item">
			<div class="row">
				<div Class="col-12">
					<div style="display: flex; justify-content: space-between; align-items: baseline;">
						<div>
							<span style="font-size:xx-large">@lifeEvent.Title</span>
							<div style="display:inline-block">
								@if (lifeEvent.Tags != null && lifeEvent.Tags.Count > 0)
								{
									<MudChipSet ReadOnly="true">
										@foreach (var tag in lifeEvent.Tags)
										{
											<StatisticsTag Tag="@tag" UtcDay="lifeEvent.From.Value"></StatisticsTag>
										}
									</MudChipSet>
								}
							</div>
							<div>
								<LifeEventTimeInfo Start="@GetEventStartDate(lifeEvent).ToIanaTimeZone(User.TimeZone)" Duration="@lifeEvent.DurationInMinutes"></LifeEventTimeInfo>
							</div>
						</div>
						<div style="min-width:7.8em">
							<MoneyTransactions Transactions="new List<MoneyTransactionRDTO>(){lifeEvent.MoneyTransaction}"></MoneyTransactions>
							@* @if (lifeEvent.DurationInMinutes > 1)
						@(new TimeSpan(0, lifeEvent.DurationInMinutes, 0).GetTimeDurationDescription()) *@
						</div>
					</div>
				</div>
			</div>
			<div>
				<MudIconButton Icon="@Icons.Material.Filled.Delete" aria-label="delete" OnClick="()=>DeleteLifeEvent(lifeEvent)"></MudIconButton>
			</div>
		</li>
	}
</ul>
